NODE_ENV=development
GROQ_API_KEY=your_groq_api_key_here
PORT =5000
MONGO_URI = mongodb://vikas708012_db_user:3FdITcSq1UJEMwEY@ac-d6u5fjn-shard-00-00.sdfe5fj.mongodb.net:27017,ac-d6u5fjn-shard-00-01.sdfe5fj.mongodb.net:27017,ac-d6u5fjn-shard-00-02.sdfe5fj.mongodb.net:27017/?ssl=true&replicaSet=atlas-6z76uu-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET = 009cac14f165a0a3142d165f6b4d6cdf1f3241b42a88c3a4a6f7bc6f55e67002

CLIENT_URL=http://localhost:5173